<a href="https://colab.research.google.com/github/Daniel-Pereira3264/Machine-Learning-using-Python-Edge-Training/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 problems

Tasks:
Count the number of vowels and consonants in the string.

Reverse the string.

Remove duplicate characters.

Find the index of a given substring.

Extract a substring using provided indices.

Replace occurrences of a given substring with another.

Capitalize the first letter of each word.

Remove all whitespace characters.

Check if the string is a palindrome.

Sort the characters in alphabetical order.

1.Count the number of vowels and consonants in the string.

In [ ]:
print("enter a string")
st = input()
vow = ['a','e','i','o','u']
vowels = 0
consonants = 0
for i in range (len(st)):
  if(st[i] in vow):
    vowels=vowels+1
  else:
    consonants = consonants+1
print("Number of Vowels =",vowels)
print("Number of Consonants =",consonants)

enter a string
daniel
Number of Vowels = 3
Number of Consonants = 3

2.Reverse the string.

In [ ]:
print("Enter a string")
st= input()
st[::-1]

Enter a string
daniel

'leinad'

# Week 2 practice

1. Create and access list

In [ ]:
numbers=[1,2,3,4,5]
print("The Numbers = ",numbers)
print("First number = ",numbers[0])
for i in range (0,len(numbers),2):
  print(numbers[i])

The Numbers =  [1, 2, 3, 4, 5]
First number =  1
1
3
5

2. Add in list

In [ ]:
numbers=[1,2,3,4,5]
print("The Numbers = ",numbers)
print("Enter number to add in last")
new=int(input())
numbers.append(new)
print("After adding the number -> Numbers = ",numbers)


numbers.extend([7,8,9])
print("After adding the number -> Numbers = ",numbers)

numbers.insert(0,0)
print("After adding the number -> Numbers = ",numbers)

The Numbers =  [1, 2, 3, 4, 5]
Enter number to add in last
6
After adding the number -> Numbers =  [1, 2, 3, 4, 5, 6]
After adding the number -> Numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
After adding the number -> Numbers =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Min , Max, Sum

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

9
1
45

4.Power

In [ ]:
p3 = [value**3 for value in range (1,11)]
print(p3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
p2 = [value**2 for value in range (1,11,2)]
print(p2)

[1, 9, 25, 49, 81]

5. Slicing

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
print (items[1:4])

['orange', 'mango', 'papaya']

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
print (items[1:2])

['orange']

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
print (items[2:3])

['mango']

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
print (items[3:4])

['papaya']

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
for i in range (0,len(items),1):
  print (items[i:(i+1)])

['apple']
['orange']
['mango']
['papaya']
['banana']

6. Copy list

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
copy = numbers[:]
print (copy)
copy = numbers[::-1]
print (copy)
copy = numbers[::-2]
print (copy)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 7, 5, 3, 1]

7. Mixed

In [ ]:
mixed = ['a','b',1,2,3,4,5,10.22,0.123456789,'Apple',[11,22,33,44,55]]
print(mixed)

['a', 'b', 1, 2, 3, 4, 5, 10.22, 0.123456789, 'Apple', [11, 22, 33, 44, 55]]

8.Zip function

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
index = [1,2,3,4,5]
ziped = zip(index,items)
list (ziped)

[(1, 'apple'), (2, 'orange'), (3, 'mango'), (4, 'papaya'), (5, 'banana')]

Exercises

-Create a list of numbers and print its sum.

-Create a list of strings and print each string along with its length.

-Create a tuple of mixed data types and print each element.

-Create a list of numbers and print only the even numbers.

-Create a list of lists (2D list) and print each element.

1.Create a list of numbers and print its sum.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
print(sum(numbers))

45

2. Create a list of strings and print each string along with its length.

In [ ]:
items = ['apple', 'orange', 'mango', 'papaya', 'banana']
for i in range (len(items)):
  print(items[i] , len(items[i]))

apple 5
orange 6
mango 5
papaya 6
banana 6

3. Create a tuple of mixed data types and print each element.

In [ ]:
mixed = ['a','b',1,2,3,4,5,10.22,0.123456789,'Apple',[11,22,33,44,55]]
for i in range (len(mixed)):
  print()
  print (mixed[i])

a

b

1

2

3

4

5

10.22

0.123456789

Apple

[11, 22, 33, 44, 55]

4.Create a list of numbers and print only the even numbers.

In [ ]:
numbers= [5,3,6,2,8,12,16,33,44,50,12,7,9,10,100]
for i in range (len(numbers)):
  if(numbers[i]%2==0):
    print(numbers[i])

6
2
8
12
16
44
50
12
10
100

5. Create a list of lists (2D list) and print each element.

In [ ]:
lists = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]]
for i in range (len(lists)):
  print()
  print (lists[i])

[1, 2, 3, 4, 5]

[6, 7, 8, 9, 10]

[11, 12, 13, 14, 15]

[16, 17, 18, 19, 20]

iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

Python Sets

1. Create set

In [ ]:
my_set = {1,2,3,4,5}
print (my_set)
my_set.add(6)
print (my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

2.Set union

In [ ]:
#set1 = {1,2,3,4,5}
set1 = {'k','l','m','n'}
#set2 = {6,7,8,9,10}
set2 = {'a','b','c'}
print (set1 | set2)

{'n', 'c', 'a', 'k', 'm', 'b', 'l'}

3. Set comprenhension

In [ ]:
my_set_comprehension = {x for x in range(10) if x % 2 == 0}
print("Set comprehension:", my_set_comprehension)

Set comprehension: {0, 2, 4, 6, 8}

1111111111111111111111111111111111111111111111111111111111111111

Python Dictionary

In [ ]:
dictionary = {"name": "Daniel" , "age" : 25 , "city" : "Dhaka"}
print("Name = ",dictionary["name"])

Name =  Daniel

In [ ]:
dictionary = {"name": "Daniel" , "age" : 25 , "city" : "Dhaka"}
dictionary["email"] = "daniel@gmail.com"
del dictionary["age"]
dictionary['city'] = "DHAKA"
print(dictionary)
print(dictionary.items())
print(dictionary.get("name"))

{'name': 'Daniel', 'city': 'DHAKA', 'email': 'daniel@gmail.com'}
dict_items([('name', 'Daniel'), ('city', 'DHAKA'), ('email', 'daniel@gmail.com')])
Daniel

In [ ]:
city_dict = {'1': {"name" : "Dhaka", "country":"Bangladesh", "population":"50 mill", "fact":"polluted"},
             '2': {"name" : "New-York", "country":"USA", "population":"8.5 mill", "fact":"modern"},
             '3': {"name" : "London", "country":"UK", "population":"9 mill", "fact":"classy"}
             }
print(city_dict)

city1 = city_dict.get("1")
print(city1("population"))

{'1': {'name': 'Dhaka', 'country': 'Bangladesh', 'population': '50 mill', 'fact': 'polluted'}, '2': {'name': 'New-York', 'country': 'USA', 'population': '8.5 mill', 'fact': 'modern'}, '3': {'name': 'London', 'country': 'UK', 'population': '9 mill', 'fact': 'classy'}}

TypeError: 'dict' object is not callable

1111111111111111111111111111111111111111111111111111111111111111

In [ ]:
def my_function(n):
  print(f"My number is {n}")

my_function(5)

My number is 5