<a href="https://colab.research.google.com/github/Daniel-Pereira3264/Machine-Learning-using-Python-Edge-Training/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Creating Function

In [ ]:
def add(a, b):
  print(f'Addition is = {a + b}')

add(2, 3)

Addition is = 5

2. Using Arguments

In [ ]:
def printname(*args):
  for name in args:
    print ('Names are => ', name)

printname('Daniel','Deep','Pereira')

Names are =>  Daniel
Names are =>  Deep
Names are =>  Pereira

In [ ]:
def printname(*args):
  fullname =""
  for name in args:
   fullname = fullname +name
  print("Name is =", fullname)

printname('Daniel ','Deep ','Pereira ')

Name is = Daniel Deep Pereira

3. Using kwargs

In [ ]:
def print_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_info(name="Alice", age=30, profession="Engineer")

name: Alice
age: 30
profession: Engineer

4. default values

In [ ]:
def defaultvalues(name,email='.cse.jnu.bd'):
  print(f'yor info : {name}{email}')

defaultvalues('pereira',)
defaultvalues('daniel','@gmail.com')

yor info : pereira.cse.jnu.bd
yor info : daniel@gmail.com

In [ ]:
def describe_pet(pet_name, animal_type='dog'):
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet(pet_name='willie')

I have a dog.
My dog's name is Willie.

5. Scope of variable

In [ ]:
x = 10 # Global variable
def func():
  y = 20 # Local variable
  print(x) # Access global variable
  print(y)
func()

10
20

6. Nested function

In [ ]:
def outer_func():
  def inner_func():
    return "Inner function"
  return inner_func()
print(outer_func()) # Output: Inner function

Inner function

7. Return from function

In [ ]:
def add(a, b):
  return a + b

result = add(3, 5)
print(result) # Output: 8

8

8. List as parameter

In [ ]:
def my_function(food):
  food = ["apple", "banana", "cherry"]
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

9. Lambda function

In [ ]:
square = lambda x : x ** 2
square(5)

25

In [ ]:
gmail = lambda name : name+"@gmail.com"
gmail('daniel')

'daniel@gmail.com'

10. Lambda with series

In [ ]:
words = ['banana','apple','pinapple','cherry','mango']
sorted_words = sorted(words, key=lambda x : len(x))
print(sorted_words)

['apple', 'mango', 'banana', 'cherry', 'pinapple']

In [ ]:
numbers = [3,2,6,5,3,4,9,7,6,4,2,9,1,1,5]
sort = sorted(numbers)
print(sort)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 9, 9]

1111111111111111111111111111111111111111111111111111111111111111111111111111111

Exercise:
1. Simple Function Definition: Write a function called greet that takes a name as input and prints a
greeting message with the name.
2. Default Argument Value: Define a function called say_hello that takes a name as input and
prints &quot;Hello, [name]!&quot;. If no name is provided, it should print &quot;Hello, World!&quot;.
3. Arbitrary Arguments: Write a function called print_args that accepts any number of arguments
and prints each argument on a separate line.
4. Sum of Arbitrary Arguments: Create a function named sum_values that accepts any number of
integers as arguments and returns the sum of those integers.
5. Keyword Arguments: Define a function called show_info that takes a person&#39;s name and age as
arguments and prints their information in a formatted string.
6. Using Lambda with Map: Write a program to square each element of a list using a lambda
function with map().
7. Using Lambda with Filter: Create a program to filter out even numbers from a list using a
lambda function with filter().
8. Using Lambda with Sorted: Sort a list of strings based on their lengths using a lambda function
with sorted().
9. Nested Function: Write a function called outer that defines an inner function inner. The inner
function should return &quot;Inner function called!&quot;. Call the inner function from the outer function
and return its result.
10. Returning Function from Function: Define a function called create_multiplier that takes a
number as input and returns a function that multiplies any given number by the original input
number.

1. Simple Function Definition: Write a function called greet that takes a name as input and prints a
greeting message with the name.

In [ ]:
def greet(name):
  print("Hello ",name)

print ("Whats your name?")
name = input()
greet(name)

Whats your name?
Daniel
Hello  Daniel

2. Default Argument Value: Define a function called say_hello that takes a name as input and
prints &quot;Hello, [name]!&quot;. If no name is provided, it should print &quot;Hello, World!&quot;.

In [ ]:
def greetings(name = 'world'):
  print("Hello",name)

print ("What's your name?")
name = input()
greetings(name)

What's your name?
Hello name

3. Arbitrary Arguments: Write a function called print_args that accepts any number of arguments
and prints each argument on a separate line.

In [ ]:
def print_args(*args):
  for num in args:
    print("number = ",num)

print_args(1,2,3,4,5,6,7,8,9,0)

number =  1
number =  2
number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9
number =  0

4. Sum of Arbitrary Arguments: Create a function named sum_values that accepts any number of
integers as arguments and returns the sum of those integers.

In [ ]:
def print_args(*args):
  sum =0
  for num in args:
    sum = sum + num
  print("number = ",sum)

print_args(1,2,3,4,5,6,7,8,9,0)

number =  45

11111111111111111111111111111111111111111111111111111111111111111111111111111111

Python Modules